<% include ./partials/header %>

<body>
<br>
<br>
<br>
<br>

<% include ./partials/headerNav %>

<h4>Total Authors: <%=authors_books.length%></h4>

<% authors_books.forEach(function(author){ %>
    <div class="book-card">
        <div class="book-image">
            <img class="book-card-image" class="ui centered rounded image" src='<%= author.portrait_url %>' >
        </div>
        <div class="book-info">
            <h2><%=author.first_name%> <%=author.last_name%> </h2>
            <span><%= author.biography %></span>
            <ul>
                    <li> Book: <%= author.title %></li>
            </ul>
            <a href="/authors/<%= author.author_id %>">View Author</a>
        </div>    
    </div>
        <% }) %>



</body>

<% include ./partials/footer %>
