<% include ./partials/header %>

<body>
<br>
<br>
<br>
<br>

<div class="ui horizontal segments" id="authors-nav">
    <a href="/authors">
        <div class="authors-nav-container">
        <img class = "nav-image" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/kyle_simpson.jpg">
            <div class="nav-title">Authors</div>
        </div>
    </a>
    <a href="/books">
        <div class="authors-nav-container">
            <img class="nav-image" src="https://images-na.ssl-images-amazon.com/images/I/B172ZcXnYDS._SL250_FMpng_.png">
            <div class="nav-title">Books</div>
        </div>    
    </a>
</div>

<% authors_books.forEach(function(book){ %>
    <div class="book-card">
        <div class="book-image">
            <img class="book-card-image" class="ui centered rounded image" src='<%= book.cover_url %>' >
        </div>
        <div class="book-info">
            <h2><%=book.title%></h2>
            <% for(let i=0; i < authors_books.length; i++){ %>
                <% if(book.title === authors_books[i].title){%>
                    <h4>By: <%=authors_books[i].first_name%>  <%=authors_books[i].last_name%> </h4>
                <% } %>
            <%}%>
            <h5><%=book.genre%> </h5>
            <span><%= book.synopsis %></span>
            <a href="/books/<%= book._id %>">Read More</a>
        </div>    
    </div>
        <% }) %>



</body>

<% include ./partials/footer %>
